@model Question

@{
    ViewData["Title"] = "Create";
}

<h3>Soru Oluştur</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4" cols="50"></textarea>

            </div>
            <div class="form-group" style="width:155px;">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />

            </div>
            <div class="form-group" style="width:100px;">
                <label asp-for="NumberofAffirmativesRequired" class="control-label"></label>
                <input asp-for="NumberofAffirmativesRequired" class="form-control" />

            </div>

            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>